/* You can add global styles to this file, and also import other style files */
/* body{
  background-image: url('./assets/img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */


body::after {
  content: "";
  background:linear-gradient(0deg, rgba(24, 24, 24, 0.472), rgba(11, 11, 11, 0.472)), url('./assets/img/fondo.jpg');
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
